<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static "assets/ico/favicon.png" %}">

    <title>YunTu - Be professional</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "assets/css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "assets/css/main.css" %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static "assets/css/font-awesome.min.css" %}">

    <script src="{% static "assets/js/jquery.min.js" %}"></script>
	<!-- <script src="{% static "assets/js/modernizr.custom.js" %}"></script> -->

    <link href='http://fonts.useso.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu">
		
	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="#home" class="smoothScroll">YunTu</a></h1>
			<i class="icon-remove menu-close"></i>
			<a href="#home" class="smoothScroll">主页</a>
			<a href="#about" class="smoothScroll">关于</a>
			<a href="#portfolio" class="smoothScroll">产品</a>
			<a href="#contact" class="smoothScroll">联系</a>
			<a href="#"><i class="icon-facebook"></i></a>
			<a href="#"><i class="icon-twitter"></i></a>
			<a href="#"><i class="icon-dribbble"></i></a>
			<a href="#"><i class="icon-envelope"></i></a>
		</div>
		
		<!-- Menu button -->
		<div id="menuToggle"><i class="icon-reorder"></i></div>
	</nav>


	
	<!-- ========== HEADER SECTION ========== -->
	<section id="home" name="home"></section>
	<div id="headerwrap">
		<div class="container">
			<div class="logo">
				<img src="{% static "assets/img/logo.png" %}">
			</div>
			<br>
			<div class="row">
				<h1>{{ master_title }}</h1>
				<br>
				<h3>{{ slave_title }}</h3>
				<br>
				<br>
				<div class="col-lg-6 col-lg-offset-3">
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	
	
	<!-- ========== ABOUT SECTION ========== -->
	<section id="about" name="about"></section>
	<div id="f">
		<div class="container">
			<div class="row">
				<h3>关于云图</h3>
				<p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
				
				<div class="col-lg-6 col-lg-offset-3">
					<p>{{ about_us_string }}</p>
                    <p><a href="/yuntu/why_choose_yuntu/"><button type="button" class="pure-button pure-button-primary">Why YunTu?</button></a></p>
				</div>								
			</div>
		</div><!-- /container -->
	</div><!-- /f -->
	

	<!-- ========== CAROUSEL SECTION ========== -->	
	<section id="portfolio" name="portfolio"></section>
	<div id="f">
		<div class="container">
			<div class="row centered">
				<h3>YunTu on iOS/Android/Windows Phone</h3>
				<p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
				
				<div class="col-lg-6 col-lg-offset-3">
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						<!-- Wrapper for slides -->
						<div class="carousel-inner">
							<div class="item active centered">
								<img class="img-responsive" src="{% static "assets/img/c1.png" %}" alt="">
							</div>
							<div class="item centered">
								<img class="img-responsive" src="{% static "assets/img/c2.png" %}" alt="">
							</div>
							<div class="item centered">
								<img class="img-responsive" src="{% static "assets/img/c3.png" %}" alt="">
							</div>
						</div>
						<br>
						<br>
						<ol class="carousel-indicators">
						    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
						    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
						</ol>
					</div>
				</div><!-- col-lg-8 -->
			</div><!-- row -->
		</div><!-- container -->
	</div>	<!-- f -->

	<!-- ========== CONTACT SECTION ========== -->
	<section id="contact" name="contact"></section>
	<div id="f">
		<div class="container">
			<div class="row">
				<h3>联系我们</h3>
				<p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
				
				<div class="col-lg-6 col-lg-offset-3">
					<p>{{ contact_us_address }}</p>
					<p>{{ contact_us_email }}</p>
{#					<p><button type="button" class="btn btn-warning">静候佳讯</button></p>#}
                    <form class="pure-form" action="/yuntu/subscribe/" method="post">
                    {% csrf_token %}
                        <input type="email" placeholder="Email" name="email_address">
                        <button type="submit" class="pure-button pure-button-primary" value="Submit">邮件订阅</button>
                    </form>
				</div>
			</div>
		</div>
	</div>

	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="{% static "assets/js/classie.js" %}"></script>
    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>
    <script src="{% static "assets/js/smoothscroll.js" %}"></script>
	<script src="{% static "assets/js/main.js" %}"></script>
</body>
</html>
