<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Subscription</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>

<body style="padding-top: 200px">
    <!--
    Your HTML goes here. Visit purecss.io/layouts/ for some sample HTML code.
    -->
    <div align="center">
        <p><h2>感谢您的订阅！ 当产品发布后，{{ email_address }}将会收到邮件通知。</h2></p>
    </div>
</body>
</html>
