<!doctype html>
<html>
<head>
    {% load staticfiles %}
	<meta charset="UTF-8">
	<title>Why choose YunTu?</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
<body style="padding-top: 30px;">
    <div align="center"><h1> Why Choose YunTu? </h1></div>
    <div align="center"><p><a class="pure-button pure-button-primary" target="_blank" href="/admin/yuntu/featurematrix/add/"> 新增特性比较 </a></p></div>
    <table class="pure-table pure-table-bordered" align="center" style="margin:auto;">
        <thead>
            <tr>
                <th><font color=red>{{ matrix_heads.feature_name }}</font></th>
                <th>{{ matrix_heads.yuntu_app }}</th>
                <th>{{ matrix_heads.replay_app }}</th>
                <th>{{ matrix_heads.meipai_app }}</th>
                <th>{{ matrix_heads.weishi_app }}</th>
                <th>{{ matrix_heads.xiaoying_app }}</th>
                <th>{{ matrix_heads.imovie_app }}</th>
                <th>{{ matrix_heads.hyperlapse_app }}</th>
                <th>{{ matrix_heads.weipai_app }}</th>
                <th>{{ matrix_heads.wopai_app }}</th>
                <th>{{ matrix_heads.yowo_app }}</th>
                <th>{{ matrix_heads.musemage_app }}</th>
            </tr>
        </thead>

        <tbody>
        {% for row in feature_matrix_list %}
            <tr class="pure-table-odd">
                <td>{{ row.feature_name }}</td>
                <td>{{ row.yuntu_app }}</td>
                <td>{{ row.replay_app }}</td>
                <td>{{ row.meipai_app }}</td>
                <td>{{ row.weishi_app }}</td>
                <td>{{ row.xiaoying_app }}</td>
                <td>{{ row.imovie_app }}</td>
                <td>{{ row.hyperlapse_app }}</td>
                <td>{{ row.weipai_app }}</td>
                <td>{{ row.wopai_app }}</td>
                <td>{{ row.yowo_app }}</td>
                <td>{{ row.musemage_app }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>