<!doctype html>
<html>
<head>
    {% load staticfiles %}
	<meta charset="UTF-8">
	<title>Why choose YunTu?</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
<body style="padding-top: 100px;">
<center><h1> Why Choose YunTu? </h1></center>
<table class="pure-table" align="center" style="margin:auto; width:80%;">
    <thead>
        <tr>
            <th><font color=red>特性</font></th>
            <th>云图</th>
            <th>RePlay</th>
            <th>美拍</th>
            <th>微视</th>
            <th>小影</th>
            <th>iMovie</th>
            <th>Hyperlapse</th>
            <th>微拍</th>
            <th>我拍</th>
            <th>尤物YoWo</th>
        </tr>
    </thead>

    <tbody>
        <tr class="pure-table-odd">
            <td>字幕遮罩</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
        </tr>

        <tr>
            <td>特效转场</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
        </tr>

        <tr class="pure-table-odd">
            <td>音乐</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
        </tr>

        <tr>
            <td>模板</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
        </tr>

        <tr class="pure-table-odd">
            <td>延时摄影</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
        </tr>

        <tr>
            <td>时长范围</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
        </tr>

        <tr class="pure-table-odd">
            <td>社交分享</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
        </tr>

        <tr>
            <td>三方登录</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
        </tr>

        <tr class="pure-table-odd">
            <td>核心优势</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
        </tr>

        <tr>
            <td>特色功能</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
        </tr>

        <tr class="pure-table-odd">
            <td>核心优势</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
        </tr>

        <tr>
            <td>特色功能</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
        </tr>
    </tbody>
</table>
</body>
</html>